<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <style>
.wrapper {
  display: grid;
  border-style: solid;
  border-color: red;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 98vw;
  height: 96vh;
}
.one {
  border-style: solid;
  border-color: blue;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}
.two {
  border-style: solid;
  border-color: yellow;
  grid-column: 2 / 2;
  grid-row: 1 / 3;
}
.three {
  border-style: solid;
  border-color: violet;
  grid-row: 1 / 3;
  grid-column: 3 / 3;
}
.four {
  border-style: solid;
  border-color: aqua;
  grid-column: 1 / 4;
  grid-row: 3;
}
</style>
<div class="wrapper">
  <div class="one" id="vis1"></div>
  <div class="two" id="vis2"></div>
  <div class="three" id="vis3">Three</div>
  <div class="four" id="vis4">Four</div>
</div>
</body>
</html>

<script type="module" src="./static/js/index.js"></script>